@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
}

/* reuseable styles */
h3{
    color: #0D3585;
    margin-bottom: 10px;
    letter-spacing: 2px;
    font-size: 28px;
}

/* main div */

.container{
    margin: 30px 20px;
}

/* Intro Styles */

.name-text{
    margin-bottom: 12px;
}

.name-text h1{
    color: #0D3585;
    font-size: 45px;
}

.name-text h4{
    color: #F97213;
    letter-spacing: 4.5px;
    margin-top: -5px;
    font-size: 25px;
}

/* Contact Styles */

.contact-details{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-bottom: 30px;
}

.con-inner{
    display: flex;
    justify-content: center;
    align-items: center;
}

.con-inner i{
    color: #F97213;
    padding: 10px;
   
}

.con-inner p{
    color: #0D3585;
}


/* Summary Styles */

.summary p{
    margin-bottom: 20px;
    font-size: 18px;
    letter-spacing: 1px;
}


/* Education Styles */

.edu-details{
    display: flex;
    justify-content: space-between;
    width: 40%;
    margin-bottom: 30px;
}

.duration h5{
    color: #0D3585;
    margin-bottom: 10px;
    font-size: 16px;
}

.duration p{
    color: black;
}

.timeline img{
    height: 60px;
}

.edu-place{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.edu-place h4{
    color: #1655d4;
    letter-spacing: 1px;
}

.edu-place h5{
    letter-spacing: 1px;
    color: #F97213;
}

.edu-place li{
    letter-spacing: 1px;
}


